#enter-amount{
    margin-bottom: 10px;
}

#currency-amount{
    width: 80px;
    text-align: right;
}

#select-from{
    margin-bottom: 10px;
}

#to-currency{
    margin-top: 5px;
}

#select-to{
    margin-bottom: 10px;

}

#final-value{
    color: #0F0;
}

button{
    margin-top: 10px;
}

main{
    width: 500px;
    margin: 200px auto;
}