#enter-amount{
    margin-bottom: 10px;
}

#currency-amount{

}

#select-from{
    margin-bottom: 10px;
}

#to-currency{

}

#select-to{
    margin-bottom: 10px;

}

#convert-button{

}

#reset-button{

}

#final-value{
    
}

button{
    margin-top: 10px;
}

main{
    width: 500px;
    margin: 200px auto;
}